{% extends'base.html' %}
{% block title %}待办{% endblock %}

{% block content %}
<div id="todo-add">
   <form action="{{ url_for('add') }}"method="post">
       <textarea rows="5" cols="50"  placeholder="请输入待办事项" name="content"></textarea>
       <button type="submit">添加</button>
   </form>
</div>

<hr>

 <div id="todo-list">
    <table style="border: 1px solid black">
        <th>
            <td>序号</td>
            <td>状态</td>
            <td>内容</td>
            <td>删除</td>
            <td>完成</td>
        </th>
        <tr>
            <td>1</td>
            <td></td>
            <td>打卡</td>
           <td><a href="#">×</a></td>
            <td><a href="#">√</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td>双12加购</td>
            <td><a href="#">×</a></td>
            <td><a href="#">√</a></td>
        </tr>
    </table>
</div>
{% endblock %}